/* html,
body {
	height: 100%;
} */

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #c2d914);
	font-family: sans-serif;
	font-weight: 100;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0);
	color: #0a0101;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #000;
  }
  
  .main-nav ul.navbar-nav li a {
    text-transform: uppercase;
    color: rgb(239, 195, 63);
  }
  
  .main-nav ul.navbar-nav li.active a,
  .main-nav ul.navbar-nav li a:hover {
    text-transform: uppercase;
    color: rgb(255,255,255);
    text-decoration: underline;
    background: inherit !important;
  }
  
  .main-nav button.btn.btn-warning {
    color: #000;
    background: rgb(239, 195, 63);
    border-radius: 18px;
    font-weight: bold;
    border: none;
  }
  
  .navbar-inverse .navbar-nav li.active:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    top: 51px;
    left: 40px;
    position: absolute;
    z-index: 99999;
    content: "";
  }
  
  .bottom-arrows {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    bottom: 0;
    top: 51px;
    position: absolute;
    z-index: 99999;
  }
  
  .subnavbar {
    &.navbar-fixed-top {
      top: 50px;
      position: fixed;
      background: rgb(133, 169, 42);
      z-index: 1000;
    }
    ul.navbar-nav li a {
      text-transform: uppercase;
      color: white;
      &:hover,
      &:focus {
        background: rgb(98, 42, 169);
        text-decoration: underline;
        color: rgb(155, 155, 155);
      }
    }
    ul.nav.navbar-nav.active {
      display: block !important;
    }
  }

